# Imports

In [29]:
import requests
import bs4
import jsonlines
import pandas as pd
from requests_oauthlib import OAuth1

# Initializing Auth_Parameters

In [30]:
auth_params = {
    'app_key':'******',
    'app_secret':'******',
    'oauth_token':'******',
    'oauth_token_secret':'******',
}

# Creating an OAuth Client connection

In [31]:
auth = OAuth1 (
    auth_params['app_key'],
    auth_params['app_secret'],
    auth_params['oauth_token'],
    auth_params['oauth_token_secret']
)

# Fetching tweets and related information using API

In [32]:
url_rest = "https://api.twitter.com/1.1/statuses/user_timeline.json"

In [45]:
params = {'screen_name': 'midasIIITD','tweet_mode' :  'extended', 'extended_entities':1}
# screen_name defines the twitter handle
# tweet_mode extended disables automatic truncation of tweet text
# extended_entities true returns information about images, GIFs, videos etc. if any in the tweet

In [46]:
results = requests.get(url_rest, params=params, auth=auth)

# Dumping results in a JSONlines file

In [47]:
tweets = results.json()

with jsonlines.open('tweets.jsonl', mode='w') as writer:
    for tweet in tweets:
    	writer.write(tweet)

# Parsing JSONlines file for required info

In [65]:
full_text = [] # contains text for each tweet
date_time = [] # contains date and time for each tweet
num_likes = [] # contains number of likes for each tweet
num_retweets = [] # contains number of retweets for each tweet
num_of_images = [] # contains number of images for each tweet
with jsonlines.open('tweets.jsonl') as reader:
    for obj in reader:
        if 'retweeted_status' in obj:
            obj = obj['retweeted_status']
        full_text.append(obj['full_text'])
        date_time.append(obj['created_at']) 
        num_retweets.append(obj['retweet_count'])
        num_likes.append(obj['favorite_count'])
        num_images = 0
        if 'extended_entities' in obj:
            if 'media' in obj['extended_entities']:
                for media in obj['extended_entities']['media']:
                    if media['type'] == 'photo':
                        num_images += 1
        if num_images==0:
            num_of_images.append(0)
        else:
            num_of_images.append(num_images)

# Creating Results DataFrame and csv file

In [67]:
dic = {'full_text':full_text,'Date and Time':date_time,'Number of Retweets':num_retweets,'Number of Likes':num_likes,'Number of Images':num_of_images}
df = pd.DataFrame.from_dict(dic)

In [70]:
df.head()

,full_text,Date and Time,Number of Retweets,Number of Likes,Number of Images
0,We will close the submission portal for submit...,Wed Apr 10 16:47:25 +0000 2019,0,1,0
1,Clarification: Our earlier post which indicate...,Wed Apr 10 09:01:29 +0000 2019,0,0,0
2,Applications open for MTech (CB) through JNU C...,Wed Apr 10 04:28:24 +0000 2019,1,3,1
3,We are delighted to share that IIIT-Delhi is r...,Tue Apr 09 09:03:12 +0000 2019,14,60,1
4,"Professor Jelani Nelson founded AddisCoder, a ...",Mon Apr 08 20:10:01 +0000 2019,36,99,0

In [69]:
df.to_csv('results.csv')